
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

// Variables
// @import "variables";

@import "resources/assets/sass/bootswatch/_cerulean_variables.scss";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootswatch import
@import "resources/assets/sass/bootswatch/_bootswatch.scss";

// font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

$colorBlueText: #033769;
$colorFooter: #2A2730;

h1, h2, h3, h4, h5, h6, a {
    color: $colorBlueText;  
}

body {
    font-family: 'Lato';
}

section.title {

    .container {
        padding: 0px 50px;
    }

}


section.categories {
    
    margin-top: 20px;

    .container {
        padding: 0px 50px;
    }

    .thumbnail {
        padding:0;
    }

    .thumbnail .caption h2 {
        margin-top: 10px;
    }

    .thumbnail .caption h2 a:hover {
        text-decoration: none;
    }

}


footer {
    
    margin-top: 50px;
    padding: 30px 0;
    background-color: $colorFooter;
    color: white;
    line-height: 100px;

    p, a {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
    }

    .nav-footer li {
        margin-left: 10px;
    }

}


#btn-category-add-topic {
    margin-top: 40px;
}

.table-topics {

    td {
        vertical-align: middle !important;
    }

    h3 {
        font-size: 15px;
        font-weight: 700;

        a {
            color: #434242;
        }

    }

}

.row-post {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    .img-user {
        margin-bottom: 10px;
    }

    .col-xs-3, .col-xs-9 {
        padding: 0;
    }

    .col-xs-3 {
        border-right: 1px solid #ccc; 
    }

    .wrapper-user {
        background-color: #e8eef4;
        padding: 15px;
    }
    
    .wrapper-post-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .post-metadata {
        padding-top: 5px;
    }

    .post-text {
        padding: 30px 30px 30px 0px;
    }

    .post-number {
        vertical-align: middle;
        margin-left: 10px;
    }

    .post-text-quote {
        margin: 10px 15px 20px 15px;
    }

    .text-quote-content {
        border: 1px solid #ccc;
        margin-top: 3px;
        padding: 5px;
        border-radius: 5px; 
    }

}

.row-new-post {

    border: 1px solid #468847;

    .wrapper-user {
        background-color: #d2e7d1;
    }

}


// Profile Page
.profile-page {
    .nbmessages {
        margin-top: 5px;
    }
}
