
@import "resources/assets/sass/bootswatch/_cerulean_variables.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/bootswatch/_bootswatch.scss";

$colorBlueText: #033769;
$colorFooter: #2A2730;

h1, h2, h3, h4, h5, h6, a {
	color: $colorBlueText;	
}

section.title {

	.container {
		padding: 0px 50px;
	}

}


section.categories {
	
	margin-top: 20px;

	.container {
		padding: 0px 50px;
	}

	.thumbnail {
		padding:0;
	}

	.thumbnail .caption h2 {
		margin-top: 10px;
	}

	.thumbnail .caption h2 a:hover {
		text-decoration: none;
	}

}


footer {
	
	margin-top: 50px;
    padding: 30px 0;
    background-color: $colorFooter;
    color: white;
    line-height: 100px;

    p, a {
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    	font-size: 17px;
    	font-weight: 400;
    }

    .nav-footer li {
	    margin-left: 10px;
	}

}


.table-topics {

	td {
		vertical-align: middle !important;
	}

	h3 {
		font-size: 15px;
		font-weight: 700;

		a {
			color: #434242;
		}

	}

}

